---
layout: default
---

{% if page.header %}<h1><strong>{{ page.header }}</strong> &nbsp; <span class="subheader">{{ page.price }}</span></h1>{% endif %}

<div class="hide-for-small">
<br />
{{ content }}

<p class="cta">
  <a class="button radius" href="#">Enquire about this car</a> <span>or</span>
  <a class="button secondary radius" href="{{ site.baseurl }}#sale">See more of our cars</a>
</p>

</div>

<ul class="car-images" data-orbit>
  {% if page.car-image-1 %}<li><img src="{{ page.car-image-1 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-2 %}<li><img src="{{ page.car-image-2 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-3 %}<li><img src="{{ page.car-image-3 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-4 %}<li><img src="{{ page.car-image-4 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-5 %}<li><img src="{{ page.car-image-5 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-6 %}<li><img src="{{ page.car-image-6 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-7 %}<li><img src="{{ page.car-image-7 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-8 %}<li><img src="{{ page.car-image-8 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-9 %}<li><img src="}{{ page.car-image-9 }}" alt="{{ page.title }}" /></li>{% endif %}
  {% if page.car-image-10 %}<li><img src="{{ page.car-image-10 }}" alt="{{ page.title }}" /></li>{% endif %}
</ul>

<div class="show-for-small">
{{ content }}

<p class="cta">
  <a class="button radius" href="#">Enquire about this car</a> <span>or</span>
  <a class="button secondary radius" href="#">See it yourself</a>
</p>
</div>
